* {
    margin: auto;
}

header {
    background-color: rgb(204, 51, 235);
    padding: 30px;
    margin-bottom: 15px;
    } 

.container {
    display: flex;
    margin-bottom: 50px;
    text-align: center;
    justify-content: space-between;
}

nav a{
    margin: 5px;
    color: white;
    background-color: #33B5E5;
    display: block;
    border:none;
    padding-left: 100px;
    padding-right:100px
}

nav{
    line-height: 24px;
}

section:last-child {
    padding: 20px;
    color: white;
    background-color: #33B5E5;

    
}

div {
    display: flex;
    justify-content: space-between;
    
}

img {
    width: 90%;
}

footer {
    padding: 20px;
    background-color: #33B5E5;
    margin-top: 10px;
    color: white;
}


@media screen and (max-width: 768px) {
    header {
    background-color:red;
    }
    
    .container {
        display: block;
    }

    div {
        display: block;
        float: left;
        width: 50%;
    }

}