header {
    background-color:salmon ;
    height: 100px;
}

nav {
    height: 4000px;
}

footer {
    text-align: left;
    background-color:salmon ;
    position: fixed;
    bottom: 0;
    width: 100%
}