header {
    color: white;
    text-align: center;
    background-color: khaki;
    padding: 5px;
}

footer {
    text-align: center;
    color: white;
    background-color: rgba(223, 202, 202, 0.712);
    margin: 0px;
    padding: 8px;
}

nav {
    color: white;
    text-align: center;
    background-color: gray;
    padding: 3px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
	border: 2px solid darkslategray;
    padding: 2px;
    background-color: rgb(132, 231, 231);
}

tbody {
    color: white;
    padding: 200px;
    text-align: center;
}

tr,
td {
	border: 1px solid rgb(255, 255, 255);
    width: 500px;
    height: 150px;
}

.topleft {
    background-color: coral;
}

.topright {
    background-color: rgb(96, 224, 224);
}

.botleft {
    background-color: rgb(61, 89, 247);
}

.botright {
    background-color: rgb(231, 228, 52);
}

table {
    padding-top: 5px;
    padding-bottom: 5px;
}